body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center; 
    font-family:sans-serif; 
    font-weight: lighter;
    color: white;
    text-shadow: 2px 2px slategray;

}

html{
    /* Default background is clear sky */
    background: url(img/clear.jpg); /* Photo by Cate Bligh on Unsplash */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;    
    transition: background 1s ease-in-out;
}

h2 {
    text-align: inherit; 
    font-family: inherit; 
    font-weight: inherit;
    font-size: 1.5rem;
}

.container1 {
    padding-top: 14%;
    padding-bottom: 15%;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
}

.container1 input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 2rem;
    text-shadow: 2px 2px slategray;
    color: white;
    outline: none;
    /* text-align: center; */
    background: transparent;
    width: 100%;

  }

  ::placeholder {
    color: white;
  }

  html.snow {
    background: url(img/snow.jpg); /* Photo by Wladislaw Sokolowskij on Unsplash */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

html.clouds {
    background: url(img/cloudy.jpg); /* Photo by Daria Nepriakhina on Unsplash */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;

}

html.rain {
    background: url(img/rain.jpg); /* Photo by Gabriele Diwald on Unsplash */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;

}

html.storm {
    background: url(img/storm.jpg); /* Photo by Eugene Triguba on Unsplash */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

body.fog {
    background: url(img/fog.jpg); /* Photo by Patrick Hendry on Unsplash */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

html.clear {
    background: url(img/clear.jpg); /* Photo by Cate Bligh on Unsplash */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;  
}

